@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
section {
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 70%;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(216, 50%, 16%);
  color: hsl(215, 51%, 70%);
  border-radius: 10px;
  padding: 12px;
}
.imgs {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 52%;
}
.img1 {
  width: 100%;
  height: 98%;
  border-radius: 7px;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: hsl(178, 100%, 50%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 7px;
  cursor: pointer;
}
.imgs:hover .overlay {
  opacity: 1;
}
.a1 {
  margin-right: 60px;
  color: #ffffff;
  font-size: 23px;
  text-decoration: none;
}
.a1:hover {
  color: hsl(178, 100%, 50%);
}
.sec2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sec2 img {
  margin-right: 5px;
}
.hr {
  width: 100%;
  height: 0.5px;
  background-color: hsl(215, 32%, 27%);
  border: none;
}
.span1 {
  color: hsl(178, 100%, 50%);
}

.img1:hover {
  opacity: 0.5;
}
.div3 {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.div3 img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
p a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
p a:hover {
  color: hsl(178, 100%, 50%);
}
